body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top:70px;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   background-repeat:no-repeat;
  background: -webkit-linear-gradient( to left top, blue, red);
  background: -moz-linear-gradient( to left top, blue, red);
  background: -ms-linear-gradient( to left top, blue, red);
  background: -o-linear-gradient( to left top, blue, red);
  background: linear-gradient( to left top, blue, red);
}

